.noir {
  color: black;
}

.hero {
  background-image: url("background_page_d'acceuil.webp");
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment:fixed;
  position: relative;
  padding: 50px;
  color: white;
}


.hero h1,
.hero p {
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}


.hero h1,
.hero h4{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}
.sommaire {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}
.hero ul {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}


.hero p {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  border-radius: 4px;
}
.sommaire ul,
.sommaire ol,
.sommaire p{
  background: none; /* évite les doubles fonds */
}
h1 {
    font-family: 'Press Start 2P', cursive;
}
h2 {
    font-family: 'Press Start 2P', cursive;
}
h3 {
    font-family: 'Press Start 2P', cursive;
}
h4 {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Poppins', sans-serif;
}
img {
    border-radius: 20px;
    border: 4px solid white;
}
.box {
    border: 4px solid #3e3e3e;
    box-shadow: 5px 5px 0px #2b2b2b;
}
.section {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.sous-titre{
  font-size: 25px ;
  font-weight: bold
}
  
/* Lien normal (non visité) */
a:link {
  color: coral;
}

/* Lien déjà visité */
a:visited {
  color: cyan;
}

/* Au survol */
a:hover {
  color: red;
}

/* Lors du clic */
a:active {
  color: orange;
}

a {
  display: inline-block;  /* empêche l’espace après le mot d’être cliquable */
}
.menu-container {
    display: flex;
    gap: 30px; /* espace entre les boutons */
    justify-content: center; /* centre horizontalement */
    align-items: center; /* centre verticalement si besoin */
}

  /* Bouton en tant que lien */
  .menu-button {
    display: flex;
    flex-direction: column; /* texte au dessus de l'image */
    align-items: center;
    text-decoration: none; /* supprimer le souligné du lien */
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
  }

  .menu-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }

  /* Texte du bouton */
  .menu-button span {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-weight:bold
  }

  /* Image du bouton */
  .menu-button img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
  }
