body {
    background: url("image_wither.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size : cover ;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 36 px;
    opacity:100%;
}
