
.hero {
  background-image: url("background_page_d'acceuil.webp");
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment:fixed;
  position: relative;
  padding: 50px;
  color: white;
}


.hero h1,
.hero p {
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}


.hero h1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}
.hero ol {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}
.hero ul {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 5px;
}

.hero p {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  border-radius: 4px;
}
h1 {
    font-family: 'Press Start 2P', cursive;
}
h2 {
    font-family: 'Press Start 2P', cursive;
}
h3 {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Poppins', sans-serif;
}
img {
    border-radius: 20px;
    border: 4px solid white;
}
.box {
    border: 4px solid #3e3e3e;
    box-shadow: 5px 5px 0px #2b2b2b;
}
.section {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.sous-titre{
  font-size: 25px ;
  font-weight: bold
  
